<div style="display: flex; flex-direction:row">
    <div style="width: 3vw;display: flex; flex-direction:column">
        <div style="flex-grow: 1;"></div>
        <p class="direction-indicator">&lt;</p>
        <div style="flex-grow: 1;"></div>
    </div>
    <app-crop style="width: 94vw;"></app-crop>
    <div style="width: 3vw;display: flex; flex-direction:column">
        <div style="flex-grow: 1;"></div>
        <p class="direction-indicator">&gt;</p>
        <div style="flex-grow: 1;"></div>
    </div>

</div>