<div (mousedown)="mouseDown = true" (mouseup)="mouseDown = false" style="display: flex;justify-content: center;">
    <div class="outsideWrapper">
        <div class="insideWrapper">
            <canvas #orig height="500" width="500" class="coveredImage"> </canvas>
            <canvas #myCanvas height="500" width="500" class="coveredImage" style="opacity: .5;"> </canvas>
        </div>
    </div>
    <canvas #myCanvas2 height="500" width="500" class="canvas" > </canvas>
    <div>
        <button (click)="toggleIsBlackClick()" [ngClass]="isBlack ? 'color-btn-black' : 'color-btn-white'"></button>
    </div>
</div>