<div style="display: flex; flex-direction: column;height: 100%;">
    <div style="margin: 1rem">
        <div (click)="addIndex(-1)" class="direction-indicator">
            <p class="up" style="transform: rotate(-90deg);">{{imageIndex <= 0 ? "" : ">" }} </p>
        </div>
    </div>

    <div [ngSwitch]="imageIndex" style="flex-grow: 1; display: flex; flex-direction: column;">
        <div style="flex-grow: 1;"></div>
        <div *ngFor="let image of images; index as i">
            <app-mask *ngSwitchCase="i" [image]="images[i]"></app-mask>
        </div>

        <div style="flex-grow: 1;"></div>
    </div>

    <div style="margin: 1rem">
        <div (click)="addIndex(1)" class="direction-indicator">
            <p  class="down" style="transform: rotate(90deg);">{{imageIndex >= images.length -1 ? "" : ">" }}</p>
        </div>
    </div>
</div>