.direction-indicator{
    justify-content: center;
    display: grid;
    font-size: 3rem;    
    color: white;
    text-shadow: 0px 0px 5px black;
}
.down{
    transform: rotate(90deg);
}

.up{
    transform: rotate(-90deg);
}
