<div style="display: flex; flex-direction: row; background-color: black;">
    <div style="flex-grow: 1;"></div>
    <div (mousedown)="mouseDown = true" (mouseup)="mouseDown = false" style="display: flex;">
        <div id="container" class="container">
            <canvas #myCanvas height="500" width="500"></canvas>
            <canvas #myCanvas2 height="500" width="500"></canvas>
        </div>

        <div>
            <p>Working On {{getTopBottom()}}</p>
            <button (click)="toggleTopBottom()" class="color-btn-black">▢</button>
        </div>
    </div>
    <div style="flex-grow: 1;"></div>
</div>