<div style="display: flex; flex-direction: column; height: 100%;">
    <div style="flex-grow: 1;"></div>
    <div style="display: flex; flex-direction: row;">
        <div style="flex-grow: 1;"></div>
        <div (mousedown)="mouseDown = true" (mouseup)="mouseDown = false" style="display: flex;margin:20px 60px;">
            <!--<div id="container">
            <canvas #myCanvas height="500" width="500"></canvas>
            <canvas #myCanvas2 height="500" width="500"></canvas>
        </div>-->
            <div class="outsideWrapper">
                <div class="insideWrapper">
                    <canvas #myCanvas height="500" width="500" class="coveredImage"></canvas>
                    <canvas #myCanvas2 height="500" width="500" class="coveringCanvas"></canvas>
                </div>
            </div>
            <div>
                <button (click)="calculateBounding()" class="color-btn-black">re-calculate Bounding</button>
            </div>
        </div>
        <div style="flex-grow: 1;"></div>
    </div>
    <div style="flex-grow: 1;"></div>
</div>