/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    background-color: #EFCF83;
}

body { 
    margin: 0; 
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
}

router-outlet + * {
    flex-grow: 1;
  }