<div style="display: flex; flex-direction: column; height: 100%;">
    <div style="flex-grow: 1;"></div>
    <div style="display: flex; flex-direction: row;">
        <div style="flex-grow: 1;"></div>
        <div style="min-width: 25vw; min-height: 25vh">
            <form id="file-upload-form" class="uploader" >
                <input id="file-upload" class="form-control" type="file" (change)="onChange($event)" multiple>
                <label for="file-upload" id="file-drag">
                    <div *ngFor="let fileName of fileNames">{{fileName}}</div>
                    <div *ngIf="fileNames.length == 0" class="uploadInner">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <div>Select file(s) here</div>
                    </div>
                    <span id="file-upload-btn" class="btn btn-primary">Select file(s)</span>
                </label>
            </form>
        </div>
        <div style="flex-grow: 1;"></div>
    </div>
    <div style="flex-grow: 1;"></div>
    <img style="display: none;" #myimage id="myimage" [src]='img' />
    <canvas #myCanvas style="display: none; max-width: 500px; max-height: 500px;"> </canvas>
</div>