<div style="display: flex; flex-direction: column; height: 100%;">
    <div style="flex-grow: 1;"></div>
    <div style="display: flex; flex-direction: row;">
        <div style="flex-grow: 1;"></div>
        <div style="width: 25vw; height: 25vh; background-color: #00ffff8e; box-shadow: 0 0 1rem #000000b0; border-radius: 2rem;">
            <input id="file-upload" class="form-control" type="file" (change)="onChange($event)" multiple>
        </div>
        <div style="flex-grow: 1;"></div>
    </div>
    <div style="flex-grow: 1;"></div>
    <img style="display: none;" #myimage id="myimage" [src]='img' />
    <canvas #myCanvas style="display: none; max-width: 500px; max-height: 500px;"> </canvas>
</div>